.footer {
  font-size: size(18px);
  line-height: size(24px);
  letter-spacing: 0.01em;
  color: $color-black-bigtext;
  display: flex;
  padding: 0 size(64px) size(20px);
  justify-content: space-between;

  p {
    padding-right: size(43px);
    margin-top: size(10px);
  }

  &__link {
    color: inherit;

    &--solid {
      border-bottom: 1px solid #DFDCE0;
    }
  }

  &__dev {
    color: $color-grey-footer;
    font-size: size(16px);
    line-height: 1;
  }

  &__dot {
    margin: 0 10px;
  }

  // .footer__whatsapp {
  //   color: $color-black-bigtext;
  //   display: inline-block;
  //   margin: size(14px) 0;
  //   align-self: center;
  //   position: relative;
  //   font-size: size(18px);
  //   line-height: size(24px);
  //   margin-top: size(6px);

  //   @include mobile {
  //     display: none;
  //   }

  //   svg {
  //     position: absolute;
  //     left: size(-26px);
  //     top: size(1px);
  //     width: size(18px);
  //     height: size(18px);
  //   }
  // }

  @include mobile {
    display: flex;
    flex-direction: column;
    padding: size(32px) size(16px) size(60px);
    text-align: center;

    p {
      padding-right: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    &__link {
      display: inline-block;

      &--solid {
       margin-top: 16px;
       border-bottom: none;
      }
    }

    &__left {
      order: 2;
    }

    &__right {
      margin-bottom: size(40px);
      order: 1;
      display: flex;
      flex-direction: column;
    }

    &__dev {
      padding: 0;
      margin: 0;
    }

    &__dot:last-of-type {
      display: none;
    }
  }
}

.footer--italics {
  font-style: italic;
  font-family: "NCTLarkspur-Italic", Arial, sans-serif;
}
