.info-modal {
  color: rgba(#1f1f1f, 0.88);
  font-size: size(16px);
  line-height: size(24px);
  letter-spacing: 0.01em;
  font-family: $font-family;

  h2 {
    color: $color-black-bigtext;
    font-weight: bold;
    font-size: size(24px);
    line-height: size(29px);
    letter-spacing: 0.01em;
    margin: 0 0 size(25px);

    @include mobile {
      font-size: size(28px);
      line-height: size(34px);
    }
  }

  h3 {
    margin: 0 0 size(18px);
    font-weight: bold;
    font-size: size(16px);
    line-height: size(24px);
  }

  p {
    margin: 0 0 size(18px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    @include list-reset;
    margin-bottom: size(24px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, h3, p, li {
    a {
      border-bottom: 1px solid rgba(#000, 0.08);
    }
  }
}