.location {
  font-weight: normal;
  font-size: size(48px);
  line-height: size(60px);
  text-align: center;
  transition: color 2s;
  color: $color-grey-light;
  display: flex;
  padding: size(70px) size(100px) 0;
  min-height: size(670px);
  font-family: $font-family-formular;

  img,
  .location__mobile-address,
  .location__mobile-whatsapp,
  span.location__address-mobile,
  .location__address-parking {
    display: none;
  }

  p {
    height: fit-content;
    margin: auto;
    letter-spacing: size(-2px);

    @include mobile {
      letter-spacing: 0.02em;
    }
  }

  .location__desktop-address {
    display: block;

    @include mobile {
      display: none;
    }
  }

  .location__desktop-address-link {
    padding-bottom: size(2px);
    position: relative;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: size(16px);
    line-height: size(16px);
    letter-spacing: 0.01em;
  }

  &--dark {
    color: $color-black-bigtext;
  }

  &--italics {
    font-style: italic;
  }

  @include mobile {
    font-size: size(24px);
    line-height: size(36px);
    text-align: left;

    padding: size(18px) size(16px) 0;
    min-height: size(400px);
    align-items: center;
    padding-top: size(120px);
    flex-direction: column;
    align-items: flex-start;

    p {
      margin: 0 0 size(15px);
      padding-top: size(31px);
    }

    .location__mobile-address {
      display: block;
      text-align: left;
    }

    .location__mobile-address-link {
      display: inline-block;
      font-size: size(16px);
      line-height: size(20px);
      letter-spacing: 0.02em;

      svg {
        transform: rotate(-45deg);
        width: size(15px);
        height: size(8px);
        padding: 0 size(5px);
        fill: $color-grey-link;
      }
    }

    .location__img-cover {
      position: relative;
    }

    img {
      display: block;
      width: size(378px);
      // max-width: 100%;
      height: size(425px);
      margin: 0 auto;
      padding-top: size(30px);
      padding-bottom: size(79px);
    }

    .location__address {
      position: absolute;
      display: inline;
      font-size: size(18px);
      line-height: size(26px);
      width: 80%;
      text-align: center;
      top: 44.5%;
      right: 10%;

      span {
        display: inline;
      }

      .location__address-parking {
        display: block;
      }

      a {
        display: inline-block;
        position: relative;
        padding-left: size(28px);
        font-size: size(18px);
        line-height: size(26px);
        letter-spacing: 0.01em;

        svg {
          position: absolute;
          width: size(18px);
          height: size(18px);
          left: size(1px);
          top: size(5px);
          transform: rotate(0);
        }
      }
    }
  }
}

.location__address {
  font-family: $font-family;
  letter-spacing: 0;
}

.location__address-row {
  margin-top: size(20px);
  display: block;
  font-size: size(16px);
  line-height: size(16px);
  letter-spacing: 0.01em;
  font-family: $font-family;
}

.location__address-parking {
  color: #ABA3AD;
  font-size: size(18px);
  line-height: size(26px);
  letter-spacing: 1%;
}