include pug/mixins

block variables
- let mainTitle = "Nine Sense Clinic";

doctype html
html.page-loading( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yy4QkQ8z0E">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yy4QkQ8z0E">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yy4QkQ8z0E">
    <link rel="manifest" href="/site.webmanifest?v=yy4QkQ8z0E">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=yy4QkQ8z0E" color="#000000">
    <link rel="shortcut icon" href="/favicon.ico?v=yy4QkQ8z0E">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    link( rel="stylesheet" href="css/style.min.css" )

  body
    .preloader
      +svg( "logo", 90, 90 )

    header.header
      .header__gradient
      .header__logo
        +svg( "logo", 120, 120 )

      button.header__open
        .header__open-button
      button.header__close

      nav.header__links( id="links" )
        ul
          li: +link-text( "Омар Газаев", "#about", "header__link header__link--anchor" )
          li: +link-text( "Лаборатория", "#lab", "header__link header__link--anchor" )
          li: +link-text( "Виниры", "#works", "header__link header__link--anchor" )
          li: +link-text( "Локация", "#location", "header__link header__link--loc" )
        a.header__insta(href="https://instagram.com/omargazaev?igshid=n52008pgrhzo" target="_blank" rel="noopener noreferrer")
          +svg( "instagram", 24, 24 )

      p.header__turn
        span Клиника эстетической стоматологии в Москве
      .parallax-header.header__phrase
        p Природа начинает, #[span.header__phrase--italics искусство] направляет, опыт совершенствует

    main
      .container.container--main
        h1.visually-hidden #{mainTitle}
        .shadow

        section.about.scale.scale--big( id="about" )
          .about__container
            .about__block
              button.about__close
              .about__block-inner
                h2 Ваш доктор<br /> Омар Газаев

                h3 Подход
                ul
                  li
                    | У меня свой, особенный подход к работе &ndash; я лично отвечаю за красоту и здоровье каждой улыбки, которую создаю. #[span.about__collapse-text(data-id="about-approach-text") Важно создать вокруг каждого человека доверительную среду, основной компонент которой — внимательное и бережное отношение.]
                    |
                    |
                    a.link-text.about__collapse-trigger(href="#" data-target-id="about-approach-text") Далее

                h3 Специализации
                ul
                  li Эстетическая стоматология
                  li Хирургическая пародонтология
                  li Имплантология
                  li
                    a.link-text(href="#" data-toggle="modal" data-target="[data-about-specializations-modal]") Больше

                h3 Публикации
                ul.about__works
                  li: +link-text( "Ein Konzept der dentalen Kommunikationskultur So fern und doch so nah Alexander Miranskij, Omar Gazaev", href="https://dentalmanufaktur-nuernberg.de/wordpress/wp-content/uploads/2017/08/qz_2013_03_s0280_scr-Kopie.pdf", "" )
                  li: +link-text( "Herstellung geschichteter Veneers bei inkongruenter Ausgangssituation Alexander Miranskij, Omar Gazaev", href="https://dentalmanufaktur-nuernberg.de/wordpress/wp-content/uploads/2017/08/qz_2014_09_s1164-Kopie.pdf", "" )

                .about__signature
                  img( src="img/sign.png" width="155" height="64" alt="signature" loading="lazy" )
          .about__mobile.small-text
            p Омар Газаев, стоматолог
            button(data-toggle="modal" data-target="[data-about-modal]") Специализации и публикации
              +svg( "arrow-1", 20, 10 )

        section.text-block.text-block--tech.parallax
          .container.container--content
            h2.visually-hidden Технологии
            p Технологии &ndash; инструмент в&nbsp;руках мастера

        section.lab.scale.scale--big( id="lab" )
          h2.visually-hidden
          img( src="img/lab@1x.jpg" srcset="img/lab@2x.jpg 2x" width="1312" height="772" alt="lab" )
          .container.container--content
            .lab__text.small-text
              p.lab__text-graph Партнерство с европейскими #[span.lab__flags #[+svg( "swiss", 17, 12 )] #[+svg( "german", 17, 12 )]] лабораториями.

        section.text-block.text-block--dark.text-block--smile.parallax
          .container.container--content
            h2.visually-hidden Улыбайся
            p Улыбка, которая #[span.text-block--italics меняет всё].

        section.slider.smile.scale.scale--big
          //- picture
          //-   source( media="(max-width: 768px)" srcset="img/face-mobile@2x.jpg 2x" )
          //-   img( src="img/face@1x.jpg" srcset="img/face@2x.jpg 2x" width="1312" height="772" alt="Марина" )
          //- p.smile__text.small-text Дарит уверенность

          .swiper-container.slider-container
            .swiper-wrapper
              .swiper-slide.slider__slide
                img( src="img/face@1x.jpg"  srcset="img/face@2x.jpg 2x" width="1312" height="772" alt="Дарит уверенность" )
              .swiper-slide.slider__slide
                img( src="img/face2@1x.jpg"  srcset="img/face2@2x.jpg 2x" width="1312" height="772" alt="Дает свободу быть собой" )
            .container.container--content
              .slider__bottom
                p.slider__caption.small-text

                .swiper-pagination.small-text

                .swiper-button-prev.slider__button.slider-prev.small-text
                  +svg( "arrow-prev", 20, 10 )

                .swiper-button-next.slider__button.slider-next.small-text
                  +svg( "arrow-1", 20, 10 )

        section.text-block.text-block--dark.text-block--bright.parallax
          .container.container--content
            h2.visually-hidden Ярко
            p Истинная красота &ndash;#[br] #[span.text-block--italics идеальное сочетание нюансов].

        section.slider.scale.scale--big( id="works" )
          .swiper-container.slider-container
            .swiper-wrapper
              .swiper-slide.slider__slide
                a.slider__img( href="img/olga-smile@2x.jpg")
                  img( src="img/olga-smile@1x.jpg"  srcset="img/olga-smile@2x.jpg 2x" width="1312" height="772" alt="Ольга, 28 лет" data-target-modal="[data-olga-smile-modal]" loading="lazy" )
                  .slider__content
                    h3.slider__content-title Лечение двух зубов<br /> Установка виниров на три зуба<br /> Оттенок винира: NOL769Z
                    .slider__content-text
                      p Ольгу ко мне привела подруга, которая недавно закончила все процедуры. Ольга не могла поверить, что можно настолько сильно и незаметно преобразить улыбку. А когда убедилась, что это возможно, захотела себе такую же. Но я не делаю по шаблону — улыбка у Ольги получилась своя, естественная, живая, открытая.
                    .slider__content-more
                      span.slider__content-more-link Подробнее
              .swiper-slide.slider__slide
                a.slider__img( href="img/tatyana-smile@2x.jpg")
                  img( src="img/tatyana-smile@1x.jpg"  srcset="img/tatyana-smile@2x.jpg 2x" width="1312" height="772" alt="Татьяна, 34 года" data-target-modal="[data-tatyana-smile-modal]" loading="lazy" )
                  .slider__content
                    h3.slider__content-title Лечение зубов<br /> Установка брекетов<br /> Установка виниров<br /> Оттенок винира: LUH875P
                    .slider__content-text
                      p Татьяна обратилась ко мне по рекомендации друга — у нее была возможность устроиться на работу мечты в крупной транспортной корпорации и переехать за границу, но она поняла, что без красивой, здоровой улыбки у нее будет меньше шансов сделать карьеру. Все процедуры заняли около 6 месяцев, но результат себя оправдал на все 100 процентов.
                    .slider__content-more
                      span.slider__content-more-link Подробнее
            button: +svg( "lupa", 24, 24 )
            .container.container--content
              .slider__bottom
                p.slider__caption.small-text

                .slider__mobile-more
                  span.slider__mobile-more-link(data-toggle="modal" data-target="[data-olga-smile-modal]")
                    | Что сделано
                    +svg( "arrow-1", 20, 10 )

                .swiper-pagination.small-text

                .swiper-button-prev.slider__button.slider-prev.small-text
                  +svg( "arrow-prev", 20, 10 )

                .swiper-button-next.slider__button.slider-next.small-text
                  +svg( "arrow-1", 20, 10 )

        section.location.location--dark( id="location" ).parallax
          .container.container--content
            h2.visually-hidden Адрес
            p Приезжайте на встречу c&nbsp;Омаром Газаевым &ndash;#[br] он расскажет, как сделать вашу улыбку #[span.location--italics неповторимой].
              span.location__address-row
                a.location__desktop-address( href="https://yandex.ru/maps/-/CKan624~") Большая Садовая ул., 5с2
                a.location__mobile-address(href="https://yandex.ru/maps/-/CKan624~") Посмотреть на карте
                  +svg( "arrow-1", 20, 10 )
            .location__img-cover
              img( src="img/map.svg" width="378" height="425" alt="map" loading="lazy" )
              .location__address
                span.location__address-mobile Бол. Садовая ул., 5с2
                //- a.location__mobile-whatsapp( title="WhatsApp" href="whatsapp://send?phone=+79057161451") +7 905 716-14-51
                //-   +svg( "whatsapp", 18, 18 )

    footer.footer
      .footer__left
        p.footer__dev
          a.footer__link(href="https://genue.ru/" target="_blank") Дизайн &ndash; студия Genue
      .footer__right
        a.footer__link(href="tel:+79057161451") +7 (905) 716-14-51
        span.footer__dot &middot;
        a.footer__link.footer__link--solid(href="whatsapp://send?phone=+79057161451" title="Написать в WhatsApp") Написать в WhatsApp
        //- a.footer__whatsapp( title="WhatsApp" href="whatsapp://send?phone=+79057161451") +7 (905) 716-14-51
        //-   +svg( "whatsapp", 18, 18 )

    .modals
      .modal.info-modal.about-modal.fade(data-about-modal tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Ваш доктор<br /> Омар Газаев

              h3 Подход
              ul
                li
                  | У меня свой, особенный подход к работе &ndash; я лично отвечаю за красоту и здоровье каждой улыбки, которую создаю. #[span.about__collapse-text(data-id="about-modal-approach-text") Важно создать вокруг каждого человека доверительную среду, основной компонент которой — внимательное и бережное отношение.]
                  |
                  |
                  a.link-text.about__collapse-trigger(href="#" data-target-id="about-modal-approach-text") Далее

              h3 Специализации
              ul
                li Эстетическая стоматология
                li Хирургическая пародонтология
                li Имплантология
                li
                  a.link-text(href="#" data-toggle="modal" data-target="[data-about-specializations-modal]") Больше

              h3 Публикации
              ul.about__works
                li: +link-text( "Ein Konzept der dentalen Kommunikationskultur So fern und doch so nah Alexander Miranskij, Omar Gazaev", href="https://dentalmanufaktur-nuernberg.de/wordpress/wp-content/uploads/2017/08/qz_2013_03_s0280_scr-Kopie.pdf", "" )
                li: +link-text( "Herstellung geschichteter Veneers bei inkongruenter Ausgangssituation Alexander Miranskij, Omar Gazaev", href="https://dentalmanufaktur-nuernberg.de/wordpress/wp-content/uploads/2017/08/qz_2014_09_s1164-Kopie.pdf", "" )

              .about__signature
                img( src="img/sign.png" width="155" height="64" alt="signature" )

      .modal.info-modal.about-specializations-modal.fade(data-about-specializations-modal tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Специализации
              .about-specializations-modal__grid
                .about-specializations-modal__grid-item
                  h3 2011, Italy
                  ul
                    li Advanced Continuing Education
                    li The Esthetic Rehabilitation
                    li A comprehensive prosthetic approach
                    li Present by Mauro Fradeani

                  h3 2013, USA
                  ul
                    li University of Pennsylvania department
                    li School of Dental Medicine Department of Endodontics
                    li Training Course in Microsurgical Endodontics
                    li Kim, D.D.S., Ph.D., MD (Hon) Grossman Professor and Chairman

                  h3 2013, 2014, Italy
                  ul
                    li Societa di Aggiomamento Stomatologico
                    li Periodontal Surgery Bologna
                    li Prof. Giovanni Zucchelli

                  h3 2014, Japan
                  ul
                    li The Office of Kuwata College Tokyo Japan
                    li Practice of occlusion and Ceramo-metal course
                    li By Masahiro Kuwata

                  h3 2014, Italy
                  ul
                    li Micro Prosthetics course by Domenico Massironi
                    li Master’s session in PROSTHETICS AT MEG
                .about-specializations-modal__grid-item
                  h3 2014, 2017, Germany
                  ul
                    li FGP - Grundlagenkurs (Biomechanischer Transfer)
                    li Dr.Christian Lex

                  h3 2015, Germany
                  ul
                    li Kurs "Oberflachen -und Texturkurs"
                    li in Munchen mit Erfolg teilgenommen
                    li Present by Bertrand Thievent CH

                  h3 2017, Italy
                  ul Master Educational Group
                    li Adhesive partial restorations
                    li Master's session in Onlays, Overlays and Veneerlays
                    li Dr. Domenico Massironi, Dr. Alessandro Conti

                  h3 2017, Moscow
                  ul
                    li Expert course
                    li in periodontal and periimplant microsurgery
                    li Speaker Dr. Rino Burkhardt

                  h3 2018, Germany
                  ul
                    li Participated in the workshop
                    li Comprehensive treatment strategies with
                    li Dental implants by Prof. Markus Hurzeler

      .modal.info-modal.slider-modal.fade(data-olga-smile-modal tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Что сделано
              ul
                li
                  em Лечение двух зубов
                li
                  em Установка виниров на три зуба
                li
                  em Оттенок винира: NOL769Z
              p Ольгу ко мне привела подруга, которая недавно закончила все процедуры. Ольга не могла поверить, что можно настолько сильно и незаметно преобразить улыбку. А когда убедилась, что это возможно, захотела себе такую же. Но я не делаю по шаблону — улыбка у Ольги получилась своя, естественная, живая, открытая.

      .modal.info-modal.slider-modal.fade(data-tatyana-smile-modal tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Что сделано
              ul
                li
                  em Лечение зубов
                li
                  em Установка брекетов
                li
                  em Установка виниров
                li
                  em Оттенок винира: LUH875P
              p Татьяна обратилась ко мне по рекомендации друга — у нее была возможность устроиться на работу мечты в крупной транспортной корпорации и переехать за границу, но она поняла, что без красивой, здоровой улыбки у нее будет меньше шансов сделать карьеру. Все процедуры заняли около 6 месяцев, но результат себя оправдал на все 100 процентов.

    block scripts
      script( src="js/script.min.js" )
