include pug/mixins

block variables
- let mainTitle = "Nine Sense Clinic";

doctype html
html.page-loading( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=yy4QkQ8z0E">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=yy4QkQ8z0E">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=yy4QkQ8z0E">
    <link rel="manifest" href="site.webmanifest?v=yy4QkQ8z0E">
    <link rel="mask-icon" href="safari-pinned-tab.svg?v=yy4QkQ8z0E" color="#000000">
    <link rel="shortcut icon" href="favicon.ico?v=yy4QkQ8z0E">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    link( rel="stylesheet" href="css/style.min.css" )

  body
    .preloader
      +svg( "logo", 90, 90 )

    header.header
      .header__gradient
      .header__logo
        +svg( "logo", 120, 120 )

      button.header__open
        .header__open-button
      button.header__close

      nav.header__links( id="links" )
        ul
          li: +link-text( "Омар Газаев", "#about", "header__link header__link--anchor" )
          li: +link-text( "Лаборатория", "#lab", "header__link header__link--anchor" )
          li: +link-text( "Виниры", "#works", "header__link header__link--anchor" )
          li: +link-text( "Локация", "#location", "header__link header__link--loc" )
        .header__icons
          a.header__icon.header__icon--whatsapp(href="whatsapp://send?phone=+79850908181" title="WhatsApp")
            +svg( "whatsapp-2", 24, 24 )
          a.header__icon.header__icon--instagram(href="https://www.instagram.com/nsc.clinic/" target="_blank" rel="noopener noreferrer")
            +svg( "instagram-2", 24, 24 )

      p.header__turn
        span Клиника эстетической стоматологии в Москве
      .parallax-header.header__phrase
        p Природа начинает, #[span.header__phrase--italics искусство] направляет, опыт совершенствует

    main
      .container.container--main
        h1.visually-hidden #{mainTitle}
        .shadow

        section.about.scale.scale--big( id="about" )
          .about__container
            .about__block
              button.about__close
              .about__block-inner
                h2 Ваш доктор<br /> Омар Газаев


                h3 Специализации
                ul
                  li Эстетическая стоматология
                  li Хирургическая пародонтология
                  li Имплантология
                  li
                    a.link-text.link-text--grey(href="#" data-toggle="modal" data-target="[data-about-specializations-modal]") Больше

                h3 Публикации
                ul.about__works
                  li: +link-text( "Quintessenz Zahntech 2013;<br /> 39 (3): 280–290", href="Quintessenz Zahntech 2013.pdf", "link-text--grey" )
                  li: +link-text( "Quintessenz Zahntech 2014;<br /> 40(9): 1164–1175", href="Quintessenz Zahntech 2014.pdf", "link-text--grey" )

          .about__mobile.small-text
            p Омар Газаев, стоматолог
            button(data-toggle="modal" data-target="[data-about-modal]") Специализации и публикации
              +svg( "arrow-1", 20, 10 )

        section.text-block.text-block--tech.parallax
          .container.container--content
            h2.visually-hidden Технологии
            p Технологии &ndash; инструмент в&nbsp;руках мастера

        section.lab.scale.scale--big( id="lab" )
          h2.visually-hidden
          .image-cover
            img( src="img/lab@1x.jpg" srcset="img/lab@2x.jpg 2x" width="1312" height="772" title="Лаборатория" alt="доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" name="Лаборатория / изготовление виниров" )
          .container.container--content
            .lab__text.small-text
              p.lab__text-graph Партнерство с европейскими #[span.lab__flags #[+svg( "swiss", 17, 12 )] #[+svg( "german", 17, 12 )]] лабораториями.

        section.text-block.text-block--dark.text-block--smile.parallax
          .container.container--content
            h2.visually-hidden Улыбайся
            p Улыбка, которая #[span.text-block--italics меняет всё].

        section.slider.smile.scale.scale--big


          .swiper-container.slider-container
            .swiper-wrapper
              .swiper-slide.slider__slide
                .image-cover
                  img.slider__img( src="img/face@1x.jpg"  srcset="img/face@2x.jpg 2x" width="1312" height="772" title="Дарит уверенность" alt="доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" name="улыбка зубы стоматология" )
              .swiper-slide.slider__slide
                .image-cover
                  img.slider__img( src="img/face2@1x.jpg"  srcset="img/face2@2x.jpg 2x" width="1312" height="772" title="Дает свободу быть собой" alt="доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" name="улыбка зубы стоматология"  )
            .container.container--content
              .slider__bottom
                p.slider__caption.small-text

                .swiper-pagination.small-text

                .swiper-button-prev.slider__button.slider-prev.small-text
                  +svg( "arrow-prev", 20, 10 )

                .swiper-button-next.slider__button.slider-next.small-text
                  +svg( "arrow-1", 20, 10 )

        section.text-block.text-block--dark.text-block--bright.parallax
          .container.container--content
            h2.visually-hidden Ярко
            p Истинная красота &ndash;#[br] #[span.text-block--italics идеальное сочетание нюансов].

        section.slider.scale.scale--big( id="works" )
          .swiper-container.slider-container
            .swiper-wrapper
              .swiper-slide.slider__slide
                a.slider__image( href="img/smile-2-after@2x.jpg")
                  .image-cover
                    img.slider__img.slider__img--after( src="img/smile-2-after@1x.jpg"  srcset="img/smile-2-after@2x.jpg 2x" width="1312" height="772"  data-target-modal="[data-smile-modal-2]" loading="lazy" title="Клинический случай NL 1533" alt="Клинический случай NL 1533 доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" name="Эстетическая стоматология")
                    img.slider__img.slider__img--before( src="img/smile-2-before@1x.jpg"  srcset="img/smile-2-before@2x.jpg 2x" width="1312" height="772" data-target-modal="[data-smile-modal-2]" loading="lazy" title="Клинический случай NL 1533" alt="Клинический случай NL 1533 доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic"  name="Эстетическая стоматология")
                  .slider__content
                    h3.slider__content-title Лечение:<br />Керамические виниры <br />Цвет 1М1 + 30% яркость <br />Подробнее на консультации
                    .slider__content-text
                      span.slider__image-toggle-link(data-text-before="Показать как было" data-text-after="Показать как стало") Показать как было

              .swiper-slide.slider__slide
                a.slider__image( href="img/smile-3-after@2x.jpg")
                  .image-cover
                    img.slider__img.slider__img--after( src="img/smile-3-after@1x.jpg"  srcset="img/smile-3-after@2x.jpg 2x" width="1312" height="772" title="Клинический случай MK 1602"alt="Клинический случай MK 1602 доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic"  data-target-modal="[data-smile-modal-3]" loading="lazy" name="Керамические виниры")
                    img.slider__img.slider__img--before( src="img/smile-3-before@1x.jpg"  srcset="img/smile-3-before@2x.jpg 2x" width="1312" height="772" title="Клинический случай MK 1602" alt="Клинический случай MK 1602 доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" data-target-modal="[data-smile-modal-3]" loading="lazy" name="Керамические виниры")
                  .slider__content
                    h3.slider__content-title Лечение:<br />Керамические виниры <br />Цвет 1М1 + 30% яркость <br />Подробнее на консультации

                    .slider__content-text
                      span.slider__image-toggle-link(data-text-before="Показать как было" data-text-after="Показать как стало") Показать как было

              .swiper-slide.slider__slide
                a.slider__image( href="img/smile-1-after@2x.jpg")
                  .image-cover
                    img.slider__img.slider__img--after( src="img/smile-1-after@1x.jpg"  srcset="img/smile-1-after@2x.jpg 2x" width="1312" height="772" title="Клинический случай NL 1492" alt="Клинический случай NL 1492 доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" data-target-modal="[data-smile-modal-1]" loading="lazy" name="Хирургическая пародонтология")
                    img.slider__img.slider__img--before( src="img/smile-1-before@1x.jpg"  srcset="img/smile-1-before@2x.jpg 2x" width="1312" height="772" title="Клинический случай NL 1492" alt="Клинический случай NL 1492 доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" data-target-modal="[data-smile-modal-1]" loading="lazy" name="Хирургическая пародонтология")
                  .slider__content
                    h3.slider__content-title Лечение:<br />Керамические виниры <br />Цвет 1М1 + 30% яркость <br />Подробнее на консультации
                    .slider__content-text
                      span.slider__image-toggle-link(data-text-before="Показать как было" data-text-after="Показать как стало") Показать как было

            button: +svg( "lupa", 24, 24 )
            .container.container--content
              .slider__bottom
                p.slider__caption.small-text

                .slider__mobile-more
                  span.slider__mobile-more-link(data-toggle="modal" data-target="[data-smile-modal-1]")
                    | Что сделано
                    +svg( "arrow-1", 20, 10 )

                .swiper-pagination.small-text

                .swiper-button-prev.slider__button.slider-prev.small-text
                  +svg( "arrow-prev", 20, 10 )

                .swiper-button-next.slider__button.slider-next.small-text
                  +svg( "arrow-1", 20, 10 )

        section.location.location--dark( id="location" ).parallax
          .container.container--content
            h2.visually-hidden Адрес
            p Приезжайте на встречу c&nbsp;Омаром Газаевым &ndash;#[br] он расскажет, как сделать вашу улыбку #[span.location--italics неповторимой].
              span.location__address-row
                span.location__desktop-address
                  a.location__desktop-address-link(href="https://yandex.ru/maps/-/CKan624~") Большая Садовая ул., 5с2
                  | . Есть парковка.
                span.location__mobile-address
                  a.location__mobile-address-link(href="https://yandex.ru/maps/-/CKan624~") Посмотреть на карте
                    +svg( "arrow-1", 20, 10 )
            .location__img-cover
              .image-cover
                img( src="img/map.svg" width="378" height="425" alt="map" loading="lazy" alt="Омар Газаев Эстетическая стоматология 9sense nine sense clinic" title="nine sense clinic" name="nine sense clinic" )
              .location__address
                span.location__address-mobile Бол. Садовая ул., 5с2
                span.location__address-parking Есть парковка


    footer.footer
      .footer__left
        p.footer__dev
          a.footer__link(href="https://genue.ru/" target="_blank") Дизайн &ndash; студия Genue
      .footer__right
        a.footer__link(href="tel:+74955405454") +7 (495) 540-54-54
        span.footer__dot &middot;

        a.footer__link.footer__link--solid(href="whatsapp://send?phone=+79850908181" title="Написать в WhatsApp") Написать в WhatsApp


    .modals
      .modal.info-modal.about-modal.fade(data-about-modal tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Ваш доктор<br /> Омар Газаев

              h3 Специализации
              ul
                li Эстетическая стоматология
                li Хирургическая пародонтология
                li Имплантология
                li
                  a.link-text.link-text--grey(href="#" data-toggle="modal" data-target="[data-about-specializations-modal]") Больше

              h3 Публикации
              ul.about__works
                li: +link-text( "Quintessenz Zahntech 2013;<br /> 39 (3): 280–290", href="Quintessenz Zahntech 2013.pdf", "link-text--grey" )
                li: +link-text( "Quintessenz Zahntech 2014;<br /> 40(9): 1164–1175", href="Quintessenz Zahntech 2014.pdf", "link-text--grey" )

      .modal.info-modal.about-specializations-modal.fade(data-about-specializations-modal tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Специализации
              .about-specializations-modal__grid
                .about-specializations-modal__grid-item
                  h3 2011, Italy
                  ul
                    li Advanced Continuing Education
                    li The Esthetic Rehabilitation
                    li A comprehensive prosthetic approach
                    li Present by Mauro Fradeani

                  h3 2013, USA
                  ul
                    li University of Pennsylvania department
                    li School of Dental Medicine Department of Endodontics
                    li Training Course in Microsurgical Endodontics
                    li Kim, D.D.S., Ph.D., MD (Hon) Grossman Professor and Chairman

                  h3 2013, 2014, Italy
                  ul
                    li Societa di Aggiomamento Stomatologico
                    li Periodontal Surgery Bologna
                    li Prof. Giovanni Zucchelli

                  h3 2014, Japan
                  ul
                    li The Office of Kuwata College Tokyo Japan
                    li Practice of occlusion and Ceramo-metal course
                    li By Masahiro Kuwata

                  h3 2014, Italy
                  ul
                    li Micro Prosthetics course by Domenico Massironi
                    li Master’s session in PROSTHETICS AT MEG
                .about-specializations-modal__grid-item
                  h3 2014, 2017, Germany
                  ul
                    li FGP - Grundlagenkurs (Biomechanischer Transfer)
                    li Dr.Christian Lex

                  h3 2015, Germany
                  ul
                    li Kurs "Oberflachen -und Texturkurs"
                    li in Munchen mit Erfolg teilgenommen
                    li Present by Bertrand Thievent CH

                  h3 2017, Italy
                  ul Master Educational Group
                    li Adhesive partial restorations
                    li Master's session in Onlays, Overlays and Veneerlays
                    li Dr. Domenico Massironi, Dr. Alessandro Conti

                  h3 2017, Moscow
                  ul
                    li Expert course
                    li in periodontal and periimplant microsurgery
                    li Speaker Dr. Rino Burkhardt

                  h3 2018, Germany
                  ul
                    li Participated in the workshop
                    li Comprehensive treatment strategies with
                    li Dental implants by Prof. Markus Hurzeler

      .modal.info-modal.slider-modal.fade(data-smile-modal-1 tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Что сделано
              .modal__content-text Лечение:<br />Керамические виниры <br />Цвет 1М1 + 30% яркость <br />Подробнее на консультации
              .info-modal__collapsible-image
                .info-modal__collapsible-image-toggle
                  span.info-modal__collapsible-image-toggle-link Показать как было
                .info-modal__collapsible-image-content
                  .image-cover
                    img(src="img/smile-3-before-mobile@1x.png" srcset="img/smile-1-before-mobile@1x.png 1x, img/smile-1-before-mobile@2x.png 2x" alt="доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" )
                  button.info-modal__collapsible-image-close

      .modal.info-modal.slider-modal.fade(data-smile-modal-2 tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Что сделано
              .modal__content-text Лечение:<br />Керамические виниры <br />Цвет 1М1 + 30% яркость <br />Подробнее на консультации
              .info-modal__collapsible-image
                .info-modal__collapsible-image-toggle
                  span.info-modal__collapsible-image-toggle-link Показать как было
                .info-modal__collapsible-image-content
                  .image-cover
                    img(src="img/smile-3-before-mobile@1x.png" srcset="img/smile-2-before-mobile@1x.png 1x, img/smile-2-before-mobile@2x.png 2x" alt="доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" )
                  button.info-modal__collapsible-image-close


      .modal.info-modal.slider-modal.fade(data-smile-modal-3 tabindex="-1" role="dialog" aria-labelledby="callback" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
          .modal-content
            button.modal__close(type="button" data-dismiss="modal" aria-label="Закрыть")
            .modal__content
              h2 Что сделано
              .modal__content-text Лечение:<br />Керамические виниры <br />Цвет 1М1 + 30% яркость <br />Подробнее на консультации
              .info-modal__collapsible-image
                .info-modal__collapsible-image-toggle
                  span.info-modal__collapsible-image-toggle-link Показать как было
                .info-modal__collapsible-image-content
                  .image-cover
                    img(src="img/smile-3-before-mobile@1x.png" srcset="img/smile-3-before-mobile@1x.png 1x, img/smile-3-before-mobile@2x.png 2x" alt="доктор Омар Газаев Эстетическая стоматология Имплантология Хирургическая пародонтология Керамические виниры nine sense clinic" )
                  button.info-modal__collapsible-image-close

    block scripts
      script( src="js/script.min.js" )
