$width-desktop: 1440px;
$width-tablet:   768px;
$width-mobile:   416px;
$width-min:      320px;

$retina-dpi:    144dpi;
$retina-dppx:  1.5dppx;

$font-family: "HelveticaNeueCyr", "Arial", sans-serif;
$font-base: 48px;

$color-white:              #ffffff;

$color-black-bigtext:      #1F1F1F;
$color-black-smalltext:    #0F0F0F;
$color-black-font:         #141414;
$color-black-arrow:        #0E0E0E;
$color-black-dot:          #0F0F0F;


$color-grey-light:         #F1F1F1;
$color-grey-dark:          #C4C4C4;
$color-grey-text:          #EBEBEB;
$color-grey-footer:        #A2A0A3;
$color-grey-link:          #5B5A5C;